#container {
    margin: 20px;
    font-size: 20px;
    color: #000;
}

/* before pseudo-element */
#container::before {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
    margin-right: 5px;
}

/* after pseudo-element */
#container::after {
    content: "After Element";
    color: #f00;
    font-size: 20px;
    margin-left: 5px;
}
